.snakePart {
    background-color: green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.snakeFood {
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}