.snakePart {
    background-color: green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.snakeFood {
    background-color: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.scoreBoard {
    position: absolute;
    border: 1px solid black;
    top: 20px;
    right: 20px;
    background: transparent;
    border-radius: 3px;
    padding: 10px;
}